<!-- footer area start -->
<footer class="footer_area fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info  wow fadeInUp " data-wow-duration=".s" data-wow-delay=".3s">
                    <h3 class="f-title">contact info</h3>
                    <ul>
                        <li>Brototype
                        
                        
                       </li>
                        <li>InfoPark Kochi,
                        
                        KINFRA Calicut
                        
                        Dotspace Thiruvananthapuram
                        
                        Bangalore</li>
                        <li>Email: shyamprakash0019@gmail.com </a>
                        </li>
                        <li>Phone: (+91) 944 679 1982 - (+91) 907 448 8318</li>
                    </ul>
                    <div class="social__media mb-30">
                        <h3 class="f-title">FOLLOW US ON</h3>
                        <a href="https://www.facebook.com/shyamprakashppk" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/Shyam_Prakash02?t=7gfwtVOdW7b7uHxCwLkesQ&s=09"  target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/ig_shyamprakash?r=nametag"  target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/shyam-prakash-4426331a0"  target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info wow fadeInUp " data-wow-duration=".7s" data-wow-delay=".4s">
                    <h3 class="f-title">Get Help</h3>
                    <ul>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/about">Delivery Information</a></li>
                        <li><a href="/about">Sale Terms & Conditions</a></li>
                        <li><a href="/about">Privacy Notice</a></li>
                        <li><a href="/about">Shopping FAQs</a></li>
                        <li><a href="/about">Returns & Refundss</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info wow fadeInUp " data-wow-duration=".8s" data-wow-delay=".5s">
                    <h3 class="f-title">Popular categories</h3>
                    <ul>
                        <li><a href="shop.html">Mens shoes</a></li>
                        <li><a href="shop.html">Womens shoes</a></li>
                        <li><a href="shop.html">Kids shoes</a></li>
                    
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 offset-xl-1 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info wow fadeInUp " data-wow-duration=".9s" data-wow-delay=".6s">
                    <h3 class="f-title">get in touch</h3>
                    <p>Sign up for all the news about our latest arrivals and<br>
                        get an exclusive early access shopping. Join <br>
                        <span>60.000+ Subscribers</span> and get a new discount coupon<br> on every Saturday.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__bottom pb-10 mt-60">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 ">
                   
                </div>
                <div class="col-xl-5 offset-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-menu">
                        <ul class="text-end">
                            <li><a href="/contact">Site Map</a></li>
                            <li><a href="/about">Search Terms</a></li>
                            <li><a href="/shop-list">Advanced Search </a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->