
<footer class="footer-area bg-gray pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact-info-wrap">
                    <div class="footer-logo">
                        <a href="#"><img src="assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="single-contact-info">
                        <span>Our Location</span>
                        <p>869 General Village Apt. 645, Moorebury, USA</p>
                    </div>
                    <div class="single-contact-info">
                        <span>24/7 hotline:</span>
                        <p>(+99) 052 128 2399</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="footer-right-wrap">
                    <div class="footer-menu">
                        <nav>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop.html">Product </a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="blog.html">Blog.</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="social-style-2 social-style-2-mrg">
                        <a href="#"><i class="social_twitter"></i></a>
                        <a href="#"><i class="social_facebook"></i></a>
                        <a href="#"><i class="social_googleplus"></i></a>
                        <a href="#"><i class="social_instagram"></i></a>
                        <a href="#"><i class="social_youtube"></i></a>
                    </div>
                    <div class="copyright">
                        <p>Copyright © 2020 HasThemes | <a href="https://hasthemes.com/">Built with <span>Norda</span>
                                by HasThemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>