
<!-- gallary area start -->
<div class="about__gallary" data-background="./assets/img/about/about-2.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-8 col-md-8 offset-xl-1">
                <div class="about_box">
                    <h3>About The Gallery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet facilisis urna. Praesent ac gravida libero. Donec non hendrerit arcu. Nulla metus enim, sagittis eget suscipit et, eleit. Donec vel orci quis dolor sollicitudin volutpat. Mauris convallis metus eget tellus mollis euismoduis tempus vitae, vulputate non justo. Quisque vitae dapibus leo. Morbi dictum, lectus ut scelerisque mattis, eros lacus mollis metus, nec vulputate sem est non elit. Curabitur rutrum vestibulum vehicula. Maecenas in tortor est.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallary area end -->


<!-- exhibitions area start -->
<div class="exhibitions__area mb-90">
    <div class="container">
        <div class="inner-section-wrapper text-center pt-110">
            <h2 class="inner-title mb-40">Permanent Exhibitions</h2>
            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 offset-xl-2">
                <div class="exhibitions-box mb-30" data-background="./assets/img/about/item1.jpeg">
                    <h3 class="bg-sub-title">David Carson</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="exhibitions-box mb-30" data-background="./assets/img/about/ass2.jpeg">
                    <h3 class="bg-sub-title">Sopia Schwimmer</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="exhibitions-box mb-30" data-background="./assets/img/about/sss3.jpeg">
                    <h3 class="bg-sub-title">Damian Barkley</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- exhibitions area end -->

<!-- workshop area start -->
<div class="workshop__area">
    <div class="container">
        <div class="row g-0">
            <div class="col-xl-4 col-lg-4 col-md-6 offset-xl-2">
                <div class="workshop h-100">
                    <div class="workshop__content">
                        <h3>The Workshop</h3>
                        <p>Quisque vitae dapibus leo. Morbi dictum, lectus ut scelerisque mattis, eros lacus mollis metus, nec vulputate sem est non elit. Curabitur rutrum vestibulum vehicula. in tortor est.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="workshopImg h-100">
                    <div class="workshopImg__thumb h-100">
                        <img class="h-100" src="./assets/img/about/workshop.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- workshop area end -->

<!-- about ceo area start  -->
<div class="ceo__area" data-background="./assets/img/about/gallery-cover_2.jpg">
    <div class="container">
        <div class="icon">
            <span class="moon"><i class="fal fa-moon"></i></span>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4  col-md-4">
                <div class="ceo__content">
                    <p>Morbi di ctum, lectus ut scelerisque mattis, eros lacus mollis metus, nec vulputate sem est non elit. Curabitur rutrum vestibulum vehicula. Maecenas in tortor est. Nunc eget fringilla justo. Ut faucibus dolor dapibus, convallis tortor in, scelerisque diam. Nulla feugiat enim sit amet erat faucibus mollis. Maecenas tincidunt arcu quis arcu tempor, ac rutrum elit ornare.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 offset-xl-4 offset-lg-4 offset-md-4">
                <div class="ceo__content">
                    <h3>“Everything you can <br>imagine is real”</h3>
                    <span>Pablo Picasso</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about ceo area end  -->

<!-- company social start -->
<div class="company__social text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="c_social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- company social end -->
