<!-- contact area 2 start -->
<div class="contact__area_2" data-background="./assets/img/about/Contact1.jpg">
    <div class="container">
        <div class="row">
            <div class="col xl-12 col-lg-12 col-md-12">
                <div class="contact__inner_2 text-center">
                    <h2 class="mb-80">contact us</h2>
                    <p>Need an expert? you are more than welcomed to leave your contact info<br> and we will be in touch
                        shortly</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area 2 end -->

<!-- contact info area start -->
<div class="contact__info_2 mb-70 pt-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="contact-single text-center">
                    <div class="contact-single__thumb">
                        <!-- <img src="" alt=""> -->
                        <i class="fal fa-bookmark"></i>
                    </div>
                    <div class="contact-single__content">
                        <h3>Visit us</h3>
                        <p>Brototype</p><br>Maradu, Kochi, Kerala</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="contact-single text-center">
                    <div class="contact-single__thumb">
                        <!-- <img src="" alt=""> -->
                        <i class="fal fa-bell"></i>
                    </div>
                    <div class="contact-single__content">
                        <h3>CALL US</h3>
                        <p>Brototype</p><br>Maradu, Kochi, Kerala</p>
                        <h5><a href="tel:+44(0)2031167711">+91 9446791982</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="contact-single text-center border-0">
                    <div class="contact-single__thumb">
                        <!-- <img src="" alt=""> -->
                        <i class="fal fa-envelope"></i>
                    </div>
                    <div class="contact-single__content">
                        <h3>Contact us</h3>
                        <p> Mail us at </p>
                        <h5>shyamprakash0019@gmail.com</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact info area end -->

<div class="map-2">
    <div class="google-map contact-map">
        <iframe class="w-100" height="400"
            src="https://maps.google.com/maps?q=Maradu&t=k&z=17&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
</div>

<!-- company social start -->
<div class="company__social text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="c_social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- company social end -->