<body>



    <div>
        <div>
            <div class="row gx-5">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                    <section class="vh-100 bg-image">
                        <div class="mask d-flex align-items-center h-100 gradient-custom-3">

                            <div class="container">

                                <div class="row d-flex justify-content-center align-items-center h-100">

                                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">

                                        <div class="card" style="border-radius: 0px;">
                                            <div class="card-body" style="border-radius: 0;">
                                                <h2 class="text-uppercase text-center mb-5">Login</h2>

                                                <form action="/login" method="post">
                                                    {{!-- {{#if ERROR}}
                                                    <h4 class="text-uppercase text-center mb-5">{{"ERROR"}}</h4>

                                                    {{/if}} --}}
                                                    <div class="form-outline mb-4">
                                                        <span id="email-error" class="disappear"></span>
                                                        <input name="Email" id="email" type="text" id="form3Example1cg"
                                                            class="form-control form-control-lg" onkeyup="validateEmail()" 
                                                            />
                                                        <label class="form-label" for="form3Example1cg">Email</label>
                                                    </div>


                                                    <div class="form-outline mb-4">
                                                        <input name="Password" type="password" id="form3Example4cg"
                                                            class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example4cg">Password</label>
                                                    </div>



                                                    <div class="form-check d-flex justify-content-center mb-5">
                                                        <input class="form-check-input me-2" type="checkbox" value=""
                                                            id="form2Example3cg" />
                                                        <label class="form-check-label" for="form2Example3g">
                                                            Remember me
                                                        </label>
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                        <button type="submit"
                                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">login</button>
                                                    </div>

                                                    <p class="text-center text-muted mt-5 mb-0">New member ? signup here
                                                        <a href="/signup" class="fw-bold text-body"><u>signup</u></a>
                                                    </p>

                                                    <p class="text-center text-muted mt-5 mb-0">Forgot Password?
                                                        <a href="/otp-phone" class="fw-bold text-body"><u>OTP
                                                                LOGIN</u></a>
                                                    </p>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

</body>