<!-- contact area 2 start -->
<div class=" error-page" data-background="./assets/img/about/page404.jpg">
    <div class="container">
        <div class="row">
            <div class="col xl-12 col-lg-12 col-md-12">
                <div class="contact__inner_2 error_inner text-center">
                    <h2 class="mb-40">ORDER SUCESS</h2>
                    <h3 class="mb-30">Your Order has been placed sucessfully</h3>
                    <p class="mb-40"></p>
                    <a href="/my-orders">View Your Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area 2 end -->